@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: #f1faee;
  --text: #232c33;
  --primary: #e63946;
  --secondary: #1d3557;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  outline: 0;
  border: 1px solid transparent;
  padding: 0.7rem 1.2rem;
  border-radius: 0.25rem;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-outline:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--background);
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.menu-toggle-btn {
  color: var(--black);
  font-size: 1.4rem;
  display: none !important;
}

/* Header */
header {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15dvh;
}

header .nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

header .nav-links .btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
