@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: #f0f4ef;
  --background-transparent: rgba(240, 244, 239, 0.7);
  --text: #232c33;
  --primary: #4c954c;

  --secondary: #8c9c8c;
  --highlight: #a0d6b4;
  --error: #d64545;

  --toastify-color-dark: var(--text);
  --toastify-color-light: var(--background);
  --toastify-color-info: var(--primary);
  --toastify-color-success: var(--highlight);
  --toastify-color-error: var(--error);
  --toastify-color-progress-dark: var(--text);
  --toastify-color-progress-light: var(--background);
  --toastify-color-icon-dark: var(--text);
  --toastify-color-icon-light: var(--background);
  --toastify-color-background: var(--background);
  --toastify-color-progress-bar: var(--text);
  --toastify-font-family: "Open Sans", sans-serif;
  --toastify-font-size: 1rem;
  --toastify-font-weight: 500;
  --toastify-line-height: 1.5;
  --toastify-letter-spacing: 0.01em;
  --toastify-max-width: 800px;
  --toastify-margin: 0.5rem;
  --toastify-padding: 1rem;
  --toastify-border-radius: 0.25rem;
  --toastify-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  --toastify-z-index: 9999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

main {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

h1::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--primary);
  margin: 0.5rem auto;
  transition: width 0.5s ease-in-out;
  animation: growLine 1s forwards;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul {
  list-style: none;
}

section {
  padding-block: 2rem;
  min-height: calc(100dvh - 15dvh);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  outline: 0;
  border: 1px solid transparent;
  padding: 0.7rem 1.2rem;
  border-radius: 0.25rem;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn:hover {
  background: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  animation: pulse 0.5s;
}

.btn-outline:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--background);
  animation: pulse 0.5s;
}

.btn-full {
  width: 100%;
}

.link {
  color: var(--primary);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

.menu-toggle-btn {
  color: var(--black);
  font-size: 1.4rem;
  display: none !important;
}

.highlight-text {
  color: var(--primary) !important;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid var(--secondary);
  padding: 0.7rem 1.2rem;
  border-radius: 0.25rem;
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  accent-color: var(--primary);
}

input:focus,
textarea:focus {
  border-color: var(--primary);
}

textarea {
  resize: vertical;
}

/* Components > Header */
header {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15dvh;
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
}

header .logo-link {
  width: 30%;
}

header .logo {
  width: 19dvw;
}

header .nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  width: 70%;
}

header .nav-links .btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .nav-links .btn-container .btn {
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  background: var(--text);
  color: var(--background);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

/* Extra > Carousel */
.custom-carousel,
.custom-carousel .carousel__slider,
.custom-carousel .carousel__slide {
  height: calc(100dvh) !important;
}

.carousel__slide {
  padding-bottom: 0 !important;
}

.carousel__inner-slide img {
  height: calc(100dvh) !important;
  width: 100% !important;
  object-fit: cover !important;
  overflow: hidden !important;
}

/* Pages > Home */
.main-slogan {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  padding-block: 5rem;
}

.main-slogan p {
  font-size: 1.5rem;
  text-align: center;
}

.italic {
  font-style: italic;
}

.what-are-we {
  min-height: 100dvh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/inspirational-photo.jpg") no-repeat center center/cover;
}

.what-are-we .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
}

.what-are-we .container p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

.what-are-we .container .highlight {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  background: var(--highlight);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}

.dot-icon {
  font-size: 10px;
}

.understand-disability {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url("../images/Animated-Shape.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-color: var(--background) !important;
}

.understand-disability .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  width: 80%;
}

.understand-disability .slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 2rem;
  width: 100%;
}

.understand-disability h1 span {
  text-transform: none;
}

.understand-disability .images {
  width: 40%;
  min-width: 300px;
  background: var(--background-transparent) center center no-repeat;
  background-size: cover;
  aspect-ratio: 4 / 3;
  border-radius: 7px;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.understand-disability .images::after {
  content: "";
  background: url("../images/inspirational-photo.jpg") center center no-repeat;
  background-size: cover;
  aspect-ratio: 4 / 3;
  position: absolute;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
  width: 100%;
  top: -0.6rem;
  left: -0.6rem;
  border-radius: 7px;
  animation: imagesBounce 1s ease infinite alternate;
  backdrop-filter: blur(15px);
  opacity: 0.9;
}

.understand-disability .slogan p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  width: 48%;
}

.what-we-do {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  padding-block: 3rem;
}

.what-we-do .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.what-we-do .cards .card {
  width: 320px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  text-align: center;
  background: var(--background-transparent);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
  border-radius: 0.25rem;
}

.journey {
  min-height: 50dvh !important;
  width: 100%;
  padding: 0 !important;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/Growth.jpg") no-repeat center center/cover;
}

.journey .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 50dvh;
  width: 80%;
}

.counter-container {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}

.counter-container .counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.counter-container .counter h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary);
  text-shadow: var(--text);
}

.counter-container .counter p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.goal {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 3rem;
}

.goals {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 0.75rem;
  text-align: center;
  font-size: 1.2rem;
}

.goals li.animate {
  animation: slideInFromLeft 1s ease-in-out;
}

.goal ol {
  list-style: none;
  padding: 0;
}

li + li {
  margin-top: 1rem;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--primary);
  padding: 1.5rem;
  border-radius: 1rem;
  width: calc(100% - 2rem);
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

li::before {
  counter-increment: list-item;
  content: counter(list-item);
  font-size: 3rem;
  font-weight: 700;
  width: 2em;
  height: 2em;
  background: var(--text);
  flex: 0 0 auto;
  border-radius: 50%;
  color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

li:nth-child(even) {
  flex-direction: row-reverse;
  background: var(--secondary);
  margin-right: -2rem;
  margin-left: 2rem;
}

/* Pages > Login */
/* Pages > Register */
.login-type-container,
.register-type-container {
  display: grid;
  grid-template-columns: 3fr 0.3fr 3fr;
  height: calc(100dvh - 15dvh);
  place-content: center;
}

.divider {
  height: 50%;
  width: 5px;
  background: var(--secondary);
  align-self: center;
  justify-self: center;
}

.login-type,
.register-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: inherit;
}

/* Pages > Recuriters Login */
/* Pages > Job Seeker Login */
.recruiters-login,
.job-seeker-login {
  height: calc(100dvh - 15dvh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
}

/* Pages > Contact */
.contact {
  display: grid;
  place-content: start;
  place-items: center;
  grid-template-rows: 0.5fr;
  gap: 1rem;
  height: calc(100dvh - 15dvh);
}

.contact p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.address-information,
.contact-persons {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1rem;
  min-height: 100dvh;
}

.address-information div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  gap: 1rem;
  font-size: 1.2rem;
}

.contact-persons {
  gap: 3rem;
}

.contact-persons .persons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.contact-persons .persons .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  max-height: 400px;
  background: var(--background);
  color: var(--text);
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-persons .persons .person img {
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.contact-persons .persons .person span {
  display: block;
}

.person-title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100dvh;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.contact-form form label {
  font-size: 1rem;
  font-weight: 300;
  align-self: flex-start;
}

/* Animations */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes growLine {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}

@keyframes imagesBounce {
  0% {
    transform: translate3d(-0.2rem, -0.2rem, 0);
  }

  100% {
    transform: translate3d(0);
  }
}
